.dropdown {
    position: relative;
    button{
        text-decoration: none;
        color: #666;
        display: block;
    }

    &:hover .dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 100%;
    left: 0;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.15);
    @apply rounded-xl;
    border: 1px solid #eee;
    display: none;

    ::before {
        content: '';
        position: absolute;
        top: -2rem;
        left: 1rem;
        border: 1rem solid transparent;
        border-bottom-color: #eee;
    }
}

.dropdown-link {
    padding: 1rem 0;
}

.dropdown-menu-item {
    button{
        padding: 1rem 1.6rem;
        @apply w-full text-left;
    }
    
    &--selected {
        @apply bg-pink-light;
    }

    button:hover {
        // overflow: hidden;
        @apply bg-grey-light;
    }

    &:last-child {
        button:hover {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    
    &:not(:last-child) {
        button{
            border-bottom: 1px solid #eee;
        }
    }
    
    &:first-child {
        button:hover {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
}