.switcher {
    padding: 20px 0;
}

.switcher-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4da5ff;
    color: white;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    outline: 0;
    text-transform: uppercase;
}

.switcher-button:hover {
    opacity: 0.7;
}